<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="/images/weather.png"/>
  </head>
  <body>
    <div class="main-content">
    {{>header}}

    <p>This site was created by Mukund Gururani as a part of a learning course for Node.js and express.
      It uses data from mapbox and weatherstack.com. The mapbox.com provides the geocode related data and the
      weatherstack.com provides the weather data for thet specific region.
    </p>>
    <img  src={{path}} class="portrait" />
    </div>
    {{>footer}}
  </body>
</html>
