<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="/images/weather.png"/>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img  src={{path}} class="portrait" />
    </div>
    {{>footer}}
  </body>
</html>
